.DS_Store
.htaccess
/nbproject
/wp-content/uploads
/wp-content/backup
/wp-config.php

/wp-content/plugins/woocommerce/i18n/languages
!/wp-content/plugins/woocommerce/i18n/languages/*zh_CN*
!/wp-content/plugins/woocommerce/i18n/languages/*.pot

