body {
  font-family: "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  line-height: 1.5;
  background-image: url("../img/tile.png");
}
body,
ul,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none;
}
/* header */
.header {
  height: 60px;
  z-index: 1;
  background-color: #000;
  top: 0;
}
.header .brand {
  padding: 10px;
  padding-right: 80px;
  display: block;
  float: left;
}
.header .nav .menu-item {
  padding: 25px 40px 17px 40px;
}
.header .user {
  float: right;
}
.header .user .menu-item {
  padding: 25px 15px 10px 15px;
}
.header .user .mine {
  display: block;
  float: right;
  color: #fff;
  font-size: 12px;
  padding: 25px 15px 10px 15px;
}
.header .dropdown-menu {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #191f1f;
  margin-top: 10px;
}
.header .dropdown-menu .menu-item{
  padding: 0;
  float: none;
}
.header .dropdown-menu:after {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #191f1f transparent;
  position: absolute;
  width: 0;
  height: 0;
  left: 50px;
  top: -20px;
}
.header .dropdown-menu > li > a {
  color: #fff;
  padding: 10px;
  border-bottom: 1px dashed #414141;
}
.header .dropdown-menu > li > a:hover {
  background-color: #101313;
}
/* footer */
.footer {
  background-color: #000;
  height: 60px;
}
.footer .copy{
  display: block;
  color: #fff;
  font-size: 12px;
}
.footer .menu-item {
  float: left;
  padding: 15px 20px 10px 20px;
}
.footer .social {
  float: right;
}
.footer .social span {
  color: #fff;
  font-size: 12px;
  padding: 15px 20px 10px 20px;
  float: left;
}
.footer .social img {
  padding: 10px;
  float: left;
}
.container {
  padding: 0 15px;
  zoom: 1;
  width: 1276px;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.nav {
  float: left;
}
.nav .menu-item {
  float: left;
}
.nav .menu-item a {
  display: block;
  color: #fff;
  font-size: 12px;
  background-color: #191f1f;
}
.btn {
  background-color: #fff;
  width: 88px;
  color: #000;
  border: 1px solid #000;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-bottom: 10px;
  display: block;
}
.btn.btn-black,
.btn:hover {
  background: #000;
  color: #fff;
}
.btn.btn-big {
  width: 200px;
}
.content {
  zoom: 1;
  margin: 6px 0;
  background-color: #fff;
}
.content:before,
.content:after {
  content: "";
  display: table;
}
.content:after {
  clear: both;
}
.content .panel {
  zoom: 1;
  overflow: scroll;
  padding: 20px 0;
  overflow-x: hidden;
  min-height: 560px;
}
.content .panel:before,
.content .panel:after {
  content: "";
  display: table;
}
.content .panel:after {
  clear: both;
}
.content .panel .bigpic {
  float: right;
  width: 75%;
}
.aside {
  float: left;
  width: 253px;
}
.aside .inner {
  padding: 150px 0 0 30px;
  font-size: 12px;
}
.aside .inner .title {
  margin-bottom: 35px;
}
.aside .inner li {
  list-style-type: disc;
  margin-bottom: 10px;
}
.aside .inner .active a {
  color: #787878;
}
.modal .modal-lg {
  width: 1200px;
}
.modal .modal-header,
.modal .modal-footer {
  border: none;
}
.modal .modal-content {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.block {
  zoom: 1;
  padding-bottom: 15px;
  border-bottom: 1px dashed #b5b1af;
}
.block:before,
.block:after {
  content: "";
  display: table;
}
.block:after {
  clear: both;
}
/* field */
.field {
  zoom: 1;
  margin-top: 15px;
}
.field:before,
.field:after {
  content: "";
  display: table;
}
.field:after {
  clear: both;
}
.field .name {
  float: left;
  width: 145px;
}
.field .form-control {
  float: left;
  width: 245px;
  height: 13px;
  font-size: 12px;
  padding: 7px 15px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: none;
  border: 1px solid #717171;
}
.field select.form-control {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 260px 10px;
  background-image: url("../img/down-arr.png");
}
.field .hint {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  color: #959595;
}
.field .hint i.icon-ok {
  background-image: url("../img/icon-ok.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
}
.field .hint i.icon-warn {
  background-image: url("../img/icon-warn.png");
  width: 13px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.modal-body{
  height: 550px;
  overflow: scroll;
  width: 100%;
}
/* mine */
#modal-mine {
  font-size: 12px;
}
#modal-mine h2 {
  font-size: 12px;
  margin-bottom: 17px;
}
#modal-mine p {
  margin-bottom: 8px;
}
#modal-mine .title {
  font-weight: bold;
}
#modal-mine .menu li {
  margin-bottom: 20px;
}
#modal-mine .menu .active a {
  font-weight: bold;
}
#modal-mine .left {
  width: 255px;
  float: left;
}
#modal-mine .left .title {
  margin-bottom: 25px;
}
#modal-mine .right {
  width: 675px;
  float: left;
}
#modal-mine .right .title {
  margin-bottom: 5px;
}
#modal-mine .right .head {
  border-bottom: 1px dashed #000;
}
#modal-mine .modal-body {
  zoom: 1;
  padding: 80px 65px;
}
#modal-mine .modal-body:before,
#modal-mine .modal-body:after {
  content: "";
  display: table;
}
#modal-mine .modal-body:after {
  clear: both;
}
#modal-mine .table > thead > tr > th,
#modal-mine .table > tbody > tr > th,
#modal-mine .table > tfoot > tr > th,
#modal-mine .table > thead > tr > td,
#modal-mine .table > tbody > tr > td,
#modal-mine .table > tfoot > tr > td {
  border: none;
}
#modal-mine .table th,
#modal-mine .table td {
  line-height: 44px;
  height: 44px;
}
#modal-mine .table-bordered {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  border: none;
}
#modal-mine .table-bordered th,
#modal-mine .table-bordered td {
  border: none;
  border-bottom: 1px dashed #b7b3b2;
  padding: 20px;
}
#modal-mine .tabbody {
  display: none;
}
#modal-mine .tabbody .head {
  border-bottom: 1px dashed #000;
}
#modal-mine .tabbody.active {
  display: block;
}
/* login */
#modal-login {
  font-size: 12px;
}
#modal-login .left {
  width: 50%;
  float: left;
}
#modal-login .left .inner{
  padding-left: 50px;
  padding-top: 75px;
  position: relative;
}
#modal-login .cursor{
  position: absolute;
  top: 50px;
  background-image: url('../img/right-cursor.png');
  width: 43px;
  height: 43px;
  left: 210px;
  top: 45px;
}
#modal-login .modal-dialog {
  width: 1100px;
}
#modal-login .modal-body {
  zoom: 1;
  padding: 80px 110px;
}
#modal-login .modal-body:before,
#modal-login .modal-body:after {
  content: "";
  display: table;
}
#modal-login .modal-body:after {
  clear: both;
}
#modal-login .right {
  width: 50%;
  float: left;
}
#modal-login #login-qr{
  width: 240px;
  height: 240px;
}
#modal-register {
  font-size: 12px;
}
#modal-register .head h2 {
  font-weight: bold;
  font-size: 12px;
}
#modal-register .head p {
  font-size: 12px;
  margin-bottom: 10px;
}
#modal-register .modal-body {
  width: 675px;
  margin: 0 auto;
}
#modal-register .title {
  margin-bottom: 5px;
}
#modal-register .head {
  border-bottom: 1px dashed #000;
}
#intro.tabbody .title {
  margin-bottom: 13px;
}
#intro.tabbody p {
  margin-bottom: 13px;
}

.loading-bg{
  position: absolute;
  width: 75px;
  left: 50%;
  height: 75px;
  top: 50%;
  background-color: rgba(0,0,0,.8);
  z-index: 2000;
  margin-left: -37.5px;
  margin-top: -37.5px;
  border-radius: 5px;
}