.content{
    background-color: #2c2c2b;
    background-image: url('../img/photos/detail-bg.jpg');
    background-repeat: no-repeat;
    background-position: right top;
}
.aside .inner .title{
    color: #787878;
}
.aside .inner a{
    color: #787878;
}
.aside .inner .active a{
    color: #fff;
}

.info{
  float: left;
  width: 1023px;
}
.info:after{
    content:"";
    display:block;
    clear:both
}
.info .pic{
  width: 465px;
  height: 300px;
  float: left;
  margin-right: 60px
}


.info .pic .inner img{
    width: 100%
}
.info .detail{
    float: left;
    font-size: 12px;
    color: #fff
}

.info .detail .head .price{
    margin-top: 28px
}

.info .detail .price{
    margin-top: 20px
}

.info .detail .dblock{
    width: 206px;
    overflow: visible;
    padding: 15px 0;
    border-bottom: 1px solid #555;
}

.info .detail .dblock.last{
    border-bottom: none;
}

.info .detail .dblock .inner{
    width: 390px
}

.info .meta .tips {
    padding-bottom: 15px;
    margin-left: -9px
}

.info .meta .tips:after{
    content: "";
    display: block;
    clear: both;
}
.info .meta .tips li{
    float: left;
    padding: 0 9px;
    border-right: 1px solid #fff;
    line-height: 1;
}

.info .meta .tips li.last{
    border-right: none;
}
.info .meta .tips li a{
    color: #fff;
}

.info .meta .thumbs img{
    border: 1px solid #717171;
}

.info .select .choices{
    margin-left: -5px;
}
.info .select .choices li{
    cursor: pointer;
    padding: 3px 5px;
    width: 80px;
}
.info .select .choices .active{
    border: 1px solid #717171;
    background-color: #1b1b1b;
}

.info .select .howto{
    color: #fff;
    font-weight: bold
}

.info .buy .submit{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  color: #000;
  display: block;
  background-color: #fff;
  margin-bottom: 35px;
}



.photos{
  position: relative;
  width: 465px;
  height: 100%;
}

.photos:after{
  display: block;
  content: "";
  clear: both;
}

.photos .prev,
.photos .next{
  position: absolute;
  float: left;
  top: 0;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
}


.photos .slides{
  overflow: hidden;
  height: 582px;
  position: relative;
}
.photos ul{
  position: absolute;
  height: 100%;
  width: 5000px;
}

.photos ul li{
  float: left;
  width: 465px;
}
.photos ul img{
  display: block;
}
.photos .prev{
  left: -26px;
  margin-right: 26px;
  background-image: url("../img/arrow-left.png")
}

.photos .next{
  right: -26px;
  margin-left: 26px;
  background-image: url("../img/arrow-right.png")
}

/* 如何保养 */
#modal-upkeep h2{
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 55px;
}
#modal-upkeep h3{
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 13px;
}
#modal-upkeep p{
  font-size:12px;
  line-height: 2;
  margin-bottom: 17px;
}

/* 品牌服务 */
#modal-brand-service h2{
  font-weight: bold;
  font-size: 13px;
}

#modal-brand-service h3{
  margin-top: 50px;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 15px;
}

#modal-brand-service p{
  font-size:12px;
  line-height: 2;
}

#modal-certificate .modal-body img{
  text-align: center;
  display:block;
  margin: -10px auto 20px auto;
}


#modal-order-confirm h2{
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 16px;
  border-bottom: 1px dashed #000;
}


#modal-order-confirm .modal-body{
  padding: 20px 150px;
}

#modal-order-confirm .addresses{
  margin-bottom: 40px;
}

#modal-order-confirm .addresses li{
  padding: 20px 0;
}

#modal-order-confirm .table th{
  background-color: #f2f2f2;
  border: 0;
}

#modal-order-confirm .table td{
  border-bottom: 1px dashed #000;
  padding: 15px 10px;
}

#modal-order-confirm .summary{
  margin-right: 30px;
  float: right;
}
#modal-order-confirm .summary .price {
  width: 110px;
  text-align: right
}

#modal-order-confirm .btns{
  margin-top: 25px;
  margin-right: 30px;
  width:150px;
  float:right;
  clear:both;
}

#modal-order-confirm .btns:after,
#modal-order-confirm .clear:after{
  content:"";
  clear:both;
  display:block;
}

#modal-order-confirm .btns .btn{
  float:right;
  display: block
}

#modal-payment .modal-body{
  padding: 0 75px;
}

#modal-payment .modal-body:after{
  clear:both;
  content:"";
  display:block;
}

#modal-payment .modal-dialog{
  width: 850px;
}

#modal-payment .way{
  float: left;
  padding: 100px 60px;
}
#modal-payment .way h2{
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
}
#modal-payment .way p{
  font-size: 12px;
  line-height: 2;
}

#modal-payment .way .btn-pay{
  cursor: pointer;
  display: block;
  margin-top: 30px;
}


#modal-guide{
  font-size: 12px
}
#modal-guide h2{
  padding-top: 26px;
  padding-bottom: 26px
}

#modal-guide .guides{
  margin-top: 37px;  
  margin-bottom: 68px;
  font-size: 12px;
}

#modal-guide .modal-body{
  width: 950px;
  margin: 0 auto;
  padding: 20px 0 65px 0;
}

#modal-guide .guides:after{
  content:"";
  display: block;
  clear: both;
}

#modal-guide .left,
#modal-guide .right
{
  float: left;
  margin-right: 40px;
  width: 435px;
}


#modal-guide .right .pic{
  text-align: center;
}

#modal-guide h2,h3{
  font-size: 12px;
  font-weight: bold;
}

#modal-guide .guides img{
  margin-bottom: 15px;
}

#modal-guide table{
  margin-top: 15px;
  margin-bottom: 50px;
  width: 100%;
}


#modal-guide .guides table td{
  width: 40px
}
#modal-guide .guides table .tt{
  width: 135px;
}