.header,
.footer {
  z-index: 10;
  min-width: 1260px;
  max-width: 1400px;
}
.content {
  background-color: #2c2c2a;
  background-image: url("../img/photos/list-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}
.aside {
  position: relative;
  z-index: 5;
  width: 370px;
}
.aside .inner {
  position: fixed;
  font-size: 12px;
}
.aside .inner .title {
  color: #787878;
}
.aside .inner a {
  color: #787878;
}
.aside .inner .active a {
  color: #fff;
}
.aside .ph {
  width: 100%;
  padding: 150px 75px 0 75px;
}
.info {
  zoom: 1;
  position: relative;
  width: 700px;
  float: left;
}
.info:before,
.info:after {
  content: "";
  display: table;
}
.info:after {
  clear: both;
}
.info .list {
  zoom: 1;
}
.info .list:before,
.info .list:after {
  content: "";
  display: table;
}
.info .list:after {
  clear: both;
}
.info .list li {
  width: 50%;
  float: left;
  height: 330px;
  overflow: hidden;
}
.info .list li a {
  display: block;
  padding: 2px;
}
.info .list li a img {
  width: 100%;
  height: auto;
}
