.content .panel {
  background: #98d7c9;
  background: rgba(255,255,255,0.2);
  width: 330px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.content .panel .panel-inner {
  overflow: scroll;
  position: relative;
  padding: 0 40px;
}
.content .panel .panel-inner .logo {
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}
.content .panel .panel-inner .row {
  zoom: 1;
  position: relative;
  margin-bottom: 20px;
}
.content .panel .panel-inner .row:after {
  content: "";
  display: block;
  clear: both;
}
.content .panel .panel-inner .row input {
  padding: 5px 10px;
  font-size: 12px;
  display: block;
  height: 22px;
  border: 1px solid #fff;
  color: #31ae92;
}
.content .panel .panel-inner .row .hint {
  font-size: 12px;
  color: #fff;
}
.content .panel .panel-inner .row .submit {
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 71px;
  height: 71px;
  border: none;
  margin: 50px auto;
  display: block;
  text-indent: -999px;
  float: none;
  margin: 0 auto;
  background-position: center center;
}
.content .panel .panel-inner .password-strength {
  font-size: 12px;
  padding-left: 10px;
  color: #fff;
}
.content .panel .panel-inner .row.active input {
  background-color: #31ae92;
  border-color: #fff;
  color: #fff;
}
.content .panel.register {
  width: 770px;
  overflow: scroll;
}
.content .panel.register .panel-inner {
  padding: 0;
}
.content .panel.register .panel-inner .fields {
  zoom: 1;
}
.content .panel.register .panel-inner .fields:after {
  content: "";
  display: block;
  clear: both;
}
.content .panel.register .panel-inner .fields .row input {
  float: left;
  width: 245px;
  margin-right: 5px;
}
.content .panel.register .panel-inner .left {
  float: left;
  width: 460px;
  margin-right: 35px;
}
.content .panel.register .panel-inner .right {
  float: left;
}
.content .panel.register .panel-inner .row .submit {
  margin-top: 70px;
  background-image: url("/img/reg-btn.png");
}
.content .panel.register .panel-inner .hint {
  position: relative;
  top: 8px;
  float: left;
}
.content .panel.login .panel-inner .row input {
  width: 228px;
}
.content .panel.login .panel-inner .row .submit {
  background-image: url("/img/login-btn.png");
}
.strong-hint {
  zoom: 1;
  margin-left: 24px;
  display: inline-block;
}
.strong-hint:after {
  content: "";
  display: block;
  clear: both;
}
.strong-hint .dot {
  background-image: url("/img/radio-dot.png");
  margin-right: 11px;
  width: 11px;
  height: 11px;
  float: left;
}
.strong-hint .dot.active {
  background-position: 0 -11px;
}
.others {
  zoom: 1;
  font-size: 12px;
}
.others:after {
  content: "";
  display: block;
  clear: both;
}
.others a {
  color: #fff;
}
.others .left-link {
  float: left;
}
.others .right-link {
  float: right;
}
